<footer class="footer mt-auto bg-primary">
<div class="container">
    <span class="text-muted">
        Rodapé
        <i class="bi bi-airplane"></i>
        <i class="bi bi-arrow-through-heart-fill"></i>
    </span>
    
</div>
</footer>