<h1>Editar Alunos</h1>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Aluno</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button class="btn btn-primary" type="submit">Atualizar</button>
</form>